form{
    padding-left: 10px;
    padding-right: 10px;
}
p{
    padding-left:10px;
    padding-right: 10px;
}

ion-input{
    border: solid 1px #c2c2c2;
    --padding-start: 20px;
    margin-bottom: 5px;
    border-radius: 10px;
}
ion-icon{
    margin-left: 10px;
}

.buttons-wrap{
    margin-top: 30px;
}